/* body{
    background-color: #efefef;
    color: black;
}
@media{
    body{
        background-color: #131313;
        color: white;
    }
} */
:root{
    color-scheme: dark light;
}
h1 h2 h3 h4 h5 h6{
    color: hsl(255, 50% 30%);
}
@media(preference-color-scheme: dark){
    h1 h2 h3 h4 h5 h6{
        color: hsl(255, 50% 80%);
    }
}
form{
    background: #333333;
    color: white;
    color-scheme: dark;
}
h1{
    color-scheme: light;
}